import { bootstrapApplication } from '@angular/platform-browser';
import { App } from './app/app';
import { appConfig } from './app/app.config';
import { setupWebQuark } from '{{relativePath frontend.appsRoot/this/src webquark.foundationRoot/src/setup-webquark}}';

await setupWebQuark();
bootstrapApplication(App, appConfig).catch((error: unknown) => console.error(error));
