{
  "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "version": 1,
  "newProjectRoot": "{{relativePath frontend.root frontend.appsRoot}}",
  "cli": {
    "analytics": false,
    "packageManager": "bun"
  },
  "schematics": {
    "@schematics/angular:component": {
      "skipTests": true,
      "style": "{{angular.styleMode}}"
    },
    "@schematics/angular:directive": {
      "skipTests": true
    },
    "@schematics/angular:pipe": {
      "skipTests": true
    },
    "@schematics/angular:service": {
      "skipTests": true
    }
  }
}
