{
  "@angular/common": "{{angular.versionPolicy}}",
  "@angular/compiler": "{{angular.versionPolicy}}",
  "@angular/core": "{{angular.versionPolicy}}",
  "@angular/forms": "{{angular.versionPolicy}}",
  "@angular/platform-browser": "{{angular.versionPolicy}}",
  "rxjs": "~7.8.0",
  "tslib": "^2.3.0"
}
