{
  "@angular/build": "{{angular.versionPolicy}}",
  "@angular/cli": "{{angular.versionPolicy}}",
  "@angular/compiler-cli": "{{angular.versionPolicy}}",
  "ng-packagr": "{{angular.versionPolicy}}",
  "typescript": "~6.0.2"
}
