import {
  ApplicationConfig,
  provideZonelessChangeDetection,
} from '@angular/core';
import {
  provideClientHydration,
  withEventReplay,
} from '@angular/platform-browser';

const hydrationProviders = {{angular.ssr}}
  ? [provideClientHydration(withEventReplay())]
  : [];

export const appConfig: ApplicationConfig = {
  providers: [
    provideZonelessChangeDetection(),
    ...hydrationProviders,
  ],
};
